.hero-container {
  display: flex;
  min-height: 95vh;
}

.hero-left {
  flex: 1;
}

.hero-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-right {
  flex: 1;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-right h1 {
  font-size: 48px;
}

.hero-right span {
  color: #7bc96f;
}

.price-wrapper {
  display: flex;
  gap: 40px;
  margin: 30px 0;
}

.old {
  text-decoration: line-through;
  color: red;
}

.enquiry-btn {
  width: 200px;
  padding: 14px;
  background: #7bc96f;
  border: none;
  border-radius: 6px;
}
