.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 60px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.logo {
  color: #7bc96f;
}

.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links a:hover {
  color: #7bc96f;
}

.nav-btn {
  padding: 10px 20px;
  background: #7bc96f;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
