* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f7f9f8;
  color: #2c2c2c;
}

section {
  width: 100%;
}

/* COMMON CONTAINER */
.container {
  width: 85%;
  margin: auto;
  padding: 70px 0;
}

.section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.section-desc {
  text-align: center;
  max-width: 800px;
  margin: auto;
  color: #666;
  line-height: 1.6;
}
html {
  scroll-behavior: smooth;
}

#faq, #amenities, #connectivity, #overview {
  /* Adjust 90px to match the actual height of your Navbar */
  scroll-margin-top: 90px;
}